    html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    /*进度条*/
    /* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 9999;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #fff;
  border: 1px solid #ee3148;

  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 200px;
  position: fixed;
  z-index: 9999;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #ee3148;
}

.pace.pace-inactive {
  display: none;
}
/*进度条样式*/
.pace-progress{position: relative;}
.pace-progress:before{content:"";width: 30px;height: 30px;position: absolute;top: 20px;right: 10px;background: #007AFF;}

    
/*index*/
.slide-next{
	width: 1.62rem;
	height: 0.68rem;
	border: none;
	position: absolute;
	bottom: 0.7rem;
	left: 50%;
	margin-left: -0.81rem;
	background-image: url(../images/page1_btn_07.png);
	background-size: 100% 100%;
	display: none;
	z-index: 999;
}

.model-index{background-image: url(../images/p1-bg.jpg);background-position: top;background-size: 100% 100%;background-repeat: no-repeat;}
.model-title{width:3.68rem;height: 1.56rem;background-image: url(../images/p1-title_03.png);background-size: 100% 100%;position: absolute;top: 0.08rem;left: 0.05rem;opacity: 0;}


.model-yun{width: 100%;height: 2.52rem;position: absolute;bottom: 0;left: 0;background-image: url(../images/p1-bottom_02.png);background-size: 100% 100%;opacity: 0;}


.model-person{width: 1.23rem;height: 2.19rem;position: absolute;bottom: 0.39rem;left: 0;background-image: url(../images/p1-ren_02.png);background-size: 100% 100%;z-index: 10;opacity: 0;}

.model-word{width: 0;height:0.77rem;position: absolute;bottom: 2.35rem;left: 0.78rem;overflow: hidden;animation: wordShow .5s 4.5s linear;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
.model-word img{width: 1.26rem;height:0.77rem;}
@keyframes wordShow{
	from{width: 0;}
	to{width: 1.26rem;}
}

.model-tong{width: 1.7rem;height: 1.7rem;background: url(../images/p1-tong_03.png) no-repeat center center/100%;transform: rotate(75deg);position: absolute;right: -0.5rem;top: 2.3rem;-webkit-transform-origin:  right top;transform-origin: right top;z-index: 999;opacity: 0;}
.tong-animate{
-webkit-animation: tongRotate 1s 1s linear ;
animation: tongRotate 1s 1s ease-out;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;opacity: 0;}
@-webkit-keyframes  tongRotate{
	0%{transform: rotate(75deg);opacity: .3;right: -0.5rem;top: 2.6rem;}
	50%{transform: rotate(75deg);opacity: 1;right: -0.5rem;top: 2.6rem;}
	100%{transform: rotate(0deg);top: 1.27rem;right: -0.2rem;opacity: 1;}
}
@keyframes tongRotate{
	0%{transform: rotate(75deg);opacity: .3;right: -0.5rem;top: 2.6rem;}
	50%{transform: rotate(75deg);opacity: 1;right: -0.5rem;top: 2.6rem;}
	100%{transform: rotate(0deg);top: 1.27rem;right: -0.2rem;opacity: 1;}
}
.mt-leg{position: absolute;top:0.7rem;right:0.9rem;opacity: 0;}
.over1{top:0.2rem;right:2.1rem;opacity: 1;}
.over2{top:1.1rem;right:3.2rem;opacity: 1;}
.over3{top:1.1rem;right:1.8rem;opacity: 1;}
.over4{top:1.9rem;right:1.4rem;opacity: 1;}
.over5{top:2.2rem;right:0.6rem;opacity: 1;}
.over6{top:3.2rem;right:0.8rem;opacity: 1;}
.tong-animate .mt-leg1{
-webkit-animation: legFly1 0.9s  1.8s ease-out ;
animation: legFly1 0.9s  1.8s ease-out;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
}
@-webkit-keyframes legFly1{
	from{top:0.7rem;right:0.9rem;opacity: 1;}
	to{top:0.2rem;right:2.1rem;opacity: 1;}
}
@keyframes legFly1{
	from{top:0.7rem;right:0.9rem;opacity: 1;}
	to{top:0.2rem;right:2.1rem;opacity: 1;}
}
.tong-animate .mt-leg2{
-webkit-animation: legFly2 0.9s  1.5s ease-out ;
animation: legFly2 0.9s 1.5s ease-out;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;}
@-webkit-keyframes legFly2{
	from{top:0.7rem;right:0.9rem;opacity: 1;}
	to{top:1.1rem;right:3.2rem;opacity: 1;}
}
@keyframes legFly2{
	from{top:0.7rem;right:0.9rem;opacity: 1;}
	to{top:1.1rem;right:3.2rem;opacity: 1;}
}

.tong-animate .mt-leg3{
-webkit-animation: legFly3 0.9s  1.5s ease-out ;
animation: legFly3 0.9s 1.5s ease-out;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;}
@-webkit-keyframes legFly3{
	from{top:0.7rem;right:0.9rem;opacity: 1;}
	to{top:1.1rem;right:1.8rem;opacity: 1;}
}
@keyframes legFly3{
	from{top:0.7rem;right:0.9rem;opacity: 1;}
	to{top:1.1rem;right:1.8rem;opacity: 1;}
}
.tong-animate .mt-leg4{
-webkit-animation: legFly4 0.9s  1.5s ease-out ;
animation: legFly4 0.9s 1.5s ease-out;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;}
@-webkit-keyframes legFly4{
	from{top:0.7rem;right:0.9rem;opacity: 1;}
	to{top:1.9rem;right:1.4rem;opacity: 1;}
}
@keyframes legFly4{
	from{top:0.7rem;right:0.9rem;opacity: 1;}
	to{top:1.9rem;right:1.4rem;opacity: 1;}
}
.tong-animate .mt-leg5{
-webkit-animation: legFly5 0.9s  1.8s ease-out ;
animation: legFly5 0.9s 1.8s ease-out;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;}
@-webkit-keyframes legFly5{
	from{top:0.7rem;right:0.9rem;opacity: 1;}
	to{top:2.2rem;right:0.6rem;opacity: 1;}
}
@keyframes legFly5{
	from{top:0.7rem;right:0.9rem;opacity: 1;}
	to{top:2.2rem;right:0.6rem;opacity: 1;}
}
.tong-animate .mt-leg6{
-webkit-animation: legFly6 0.9s  1.8s ease-out ;
animation: legFly6 0.9s 1.8s ease-out;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;}
@-webkit-keyframes legFly6{
	from{top:0.7rem;right:0.9rem;opacity: 1;}
	to{top:3.2rem;right:0.8rem;opacity: 1;}
}
@keyframes legFly6{
	from{top:0.7rem;right:0.9rem;opacity: 1;}
	to{top:3.2rem;right:0.8rem;opacity: 1;}
}

/*动画*/
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		-ms-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		-ms-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}

@-webkit-keyframes shake {
	0%,
	80%,
	90%,
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
	10%,
	30%,
	50%,
	70%{
		-webkit-transform: translate3d(-3px, 0, 0);
		-ms-transform: translate3d(-3px, 0, 0);
		transform: translate3d(-3px, 0, 0)
	}
	20%,
	40%,
	60%{
		-webkit-transform: translate3d(3px, 0, 0);
		-ms-transform: translate3d(3px, 0, 0);
		transform: translate3d(3px, 0, 0)
	}
}

@keyframes shake {
	0%,
	80%,
	90%,
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
	10%,
	30%,
	50%,
	70%{
		-webkit-transform: translate3d(-3px, 0, 0);
		-ms-transform: translate3d(-3px, 0, 0);
		transform: translate3d(-3px, 0, 0)
	}
	20%,
	40%,
	60%{
		-webkit-transform: translate3d(3px, 0, 0);
		-ms-transform: translate3d(3px, 0, 0);
		transform: translate3d(3px, 0, 0)
	}
}

.shake {
	-webkit-animation-name: shake;
	animation-name: shake;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
    opacity: 1;
  }

  to {
  	opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes flash {
  0%,
  20%,
  50%,
  to{opacity: 1;}
  
  10%,
  30%{opacity: 0;}
}

.flash {
-webkit-animation-duration: 2s;
animation-duration:2s;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
animation-name: flash;
animation-iteration-count:3;
-webkit-animation-iteration-count:3;
}




































