html,body{height: 100%;width: 100%;}
/* 大转盘样式 */
.banner{display:block;width: 2.48rem;height: 2.48rem;position: absolute;top: 2.5rem;left: 0.61rem;}
.banner .turnplate{display:block;width: 2.48rem;height: 2.48rem;position:relative;}
.banner .turnplate canvas.item{width:84%;margin: 0.21rem 0 0 0.21rem;}
.banner .turnplate img.pointer{position:absolute;width:0.52rem;height:0.69rem;left:38.6%;top:33%;}
.lucky-name{width: 40%;float: right;text-align: center;height:200px;border: 4px solid #FF6F00;border-radius: 4px;}
.lucky-name h2{border-bottom: 4px solid #FF6F00;height: 30px;line-height: 30px;}
.list-wrap{overflow: hidden;position: relative;width: 100%;height: 145px;margin-top: 10px;}
.top{top: 0;left: 0;}
.bottom{top: 147px;left: 0;}
.name-list{width: 100%;height: 145px;position: absolute;}
.name-list li{line-height: 30px;height: 30px;}
#jiangpin{width: 2.05rem;height: 2.05rem;}
.model-topimg{width: 100%;height: 31.5%;background-image: url(../images/p3-topimg_01.jpg);background-size: 100% 100%;}
.model-bottomimg{width: 100%;height: 68.5%;background-image: url(../images/p3-bottomimg_02.jpg);background-size: 100% 100%;}
